* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.background {
    background-image: url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    inset: 0;
    z-index: -1;
    background-position: center;
}

.header {
    position: fixed;
    top: 5%;
    right: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 9;
}

.header__row {
    
}

.header-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.header-menu.active {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
}

.header-menu__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-between; */
}

.menu-burger.active + .header-menu {
    display: flex;
}

.header-menu__item {
    margin-bottom: 2rem;
    background: green;
    padding: 1rem 1.313rem;
    border-radius: 10px;
}

.main {
    height: 100vh;
}

.header-menu__link {
    font-size: 1.5rem;
    font-weight: 700;
}
.main-link {
    background: #51B6B6;
}
.products-link {
    background: #5895C0;
}
.contact-link {
    background: #324F6F;
}

.test {
    height: 1000px;
}


.menu-burger {
    display: block;
    width: 45px;
    height: 30px;
    position: relative;
    top: 5%;
    right: 15%;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer
}

.menu-burger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.menu-burger span:nth-child(1) {
    top: 0
}

.menu-burger span:nth-child(2) {
    top: 10px
}

.menu-burger span:nth-child(3) {
    top: 20px
}

.menu-burger.active span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

.menu-burger.active span:nth-child(2) {
    opacity: 0;
    left: -60px
}

.menu-burger.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 4rem;
    row-gap: 4rem;
}

.product-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.products-wrapper {
    width: 90%;
    margin: 0 auto;
}

.product-logo {
    background: white;
    padding: 10px 28px;
    border-radius: 80px;
    width: fit-content;
    margin-bottom: 20px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.product-image-container {
    max-height: 260px;
    max-width: 500px;
}

.figure {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 70%;
    z-index: -1;
}

.logo {
    /* width: 672px; */
    width: 200px;
    position: absolute;
    /* top: 5rem; */
    top: 5%;
}

.products-title {
    text-align: center;
    font-size: 1.375rem;
    color: white;
    /* padding-left: 7rem; */
    width: 90%;
    display: none;
}

.right-column {
    background: url('/assets/transparent-figure.png');
    background-repeat: no-repeat;
    position: absolute;
    background-position: center;
    right: 0;
    top: 80%;
    transform: translateY(-80%);
    padding: 65px 50px;
    display: flex;
    align-items: center;
    height: 75%;

}
.right-column__text > p {
    /* max-width: 800px; */
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.right-column__text > p:first-child {
    margin-bottom: 2rem;
    /* display: none; */
}

.contact {
    position: relative;
    height: 90vh;
}

.form {
    max-width: 830px;
    margin: 0 auto;
    margin-bottom: 147px;
    width: 90%;
}

.form {
    outline: none;
    /* display: none; */
}

.contact .right-column {
    background: transparent;
}


.form__body{
    position: relative;
}
.form__body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.form__body._sending::after{
    opacity: 1;
    visibility: visible;
}

.form-title {
    font-weight: 300;
    font-size: 29px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 45px;
}

.form__item {
    margin-bottom: 17px;
    flex-basis: 50%;
}
.form__item::placeholder {
    font-weight: bold;
    color: #999;
}

.form__label {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    /* text-align: center; */
    color: #000000;
}

.form__input {
    border-radius: 20px;
    border-color: transparent;
    width: 295px;
    height: 47px;
    padding: 14px 21px;
    font-size: 18px;
    transition: .4s;
    outline: none;
}

.form__input:focus{
    box-shadow: 0 0 10px #5B8BA2;
}

.form__input._error {
    border: 2px solid rgb(235, 120, 120);
    box-shadow: 0 0 5px red;
}

.form-comment{
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif ;
}
.form-comment::placeholder {
    font-family: 'Montserrat', sans-serif;
}

#formMessage{
    width: 295px;
    min-height: 175px;
    resize: none;
    padding: 20px 20px;
}

.form__button {
    background: #324F6F;
    border: 2px solid #50849C;
    border-radius: 15px;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    font-weight: bold;
    padding: 12px 56px;
    cursor: pointer;
    transition: .3s;
    display: block;
    margin: 0 auto;  
    width: 100%;
}
.form__button:hover{
    border: 2px solid #0a0061;
    background-color: rgb(64, 86, 145);
}
.form__button:active{
    transform: scale(0.8);
}

.form__rows {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__row-first{
    flex-basis: 50%;
    display: grid;
    place-items: center;
}
.form__row-second {
    flex-basis: 50%;
    display: grid;
    place-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.footer {
    /* margin-top: 45px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 2px solid white;
    color: white;
    flex-direction: column;
    row-gap: 24px;
    column-gap: 24px;
}

.footer-info__title {
    font-weight: bold;
    font-size: 35px;
    margin-right: 40px;
    margin-bottom: 24px;
}

.footer-icon {
    margin-left: 24px;
}
.footer-icon:first-child {
    margin-left: 0;
}

.footer-info__text {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.footer-info__phone,
.footer-info__email {
    font-size: 30px;
    font-weight: bold;
}


.footer-copyright {
    padding-top: 19px;
    font-size: 1rem;
    color: white;
    text-align: center;
}

@media (min-width: 389px) {
    .right-column__text > p {
        font-size: 1.2rem;
    }
}
@media (max-width: 390px) {
    .contact {
        height: 100vh;
    }
    .footer {
        margin-top: 5rem;
    }
}



@media (max-width: 415px) {
    .contact .right-column {
        padding: 0;
        margin-left: 5%;
        margin-right: 5%;
    }
}


@media (min-width: 590px) {
    .right-column__text > p {
        font-size: 1.7rem;
    }

    .footer-info {
        flex-direction: row;
    }
    .footer-info__title {
        font-size: 50px;
    }
    .footer-info__phone,
    .footer-info__email {
        font-size: 40px;
    }
}


@media (min-width: 762px) {
    .products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .logo {
        width: 472px;
    }
    .products-title {
        text-align: left;
    }

    .right-column {
        top: 80%;
        transform: translateY(-80%);
        padding: 75px 140px;

    }
    .right-column__text > p {
        max-width: 800px;
        font-size: 1.8rem;
        color: white;
        font-weight: bold;
    }
    .right-column__text > p:first-child {
        margin-bottom: 2rem;
    }
}

@media (min-width: 805px) {
    .form__rows {
        flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    }
    .form__row-second {
        margin-left: 45px;
    }
    #formMessage {
        width: 350px;
    }
    .form-title {
        margin-bottom: 70px;
    }
    .contact .right-column {
        background: url('/assets/transparent-figure.png');
        background-repeat: no-repeat;
        background-position: center;
        padding-right: 0;
        margin-right: 5%;
    }
    .products-title {
        display: block;
        margin: 0 auto 3rem;
    }
    .contact {
        margin-top: 8rem;
    }
}

@media (min-width: 991.98px) {

    .right-column {
        right: 0;
        top: 80%;
        transform: translateY(-80%);
        padding: 75px 140px;

    }
    .right-column__text > p {
        font-size: 2rem;
        text-align: left;
    }

    .products-title {
        font-size: 1.875rem;
        color: white;
        padding-left: 7rem;
        width: 100%;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .product-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .products-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .product-logo {
        background: white;
        padding: 10px 28px;
        border-radius: 80px;
        width: fit-content;
        margin-bottom: 20px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-image {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .product-image-container {
        max-height: 260px;
        max-width: 500px;
        width: auto;
    }
    .contact .right-column {
        padding: 75px 140px;
        margin-right: 0;
    }

    
}

@media (min-width: 1084px) {
    .menu-burger {
        display: none;
    }
    .header-menu__list {
        display: flex;
        flex-direction: row;
    }
    .header {
        padding-top: 3rem;
    }
    .header-menu {
        display: flex;
        position: relative;
    }

    .header-menu__item{
        margin-bottom: 0;
        margin-right: 2.625rem;
    }
    .header-menu__item:last-child {
        margin-right: 0;
    }
}
@media (min-width: 1362px) {

    .logo {
        width: 672px;
    }
}



