---
import ContactForm from './ContactForm.astro'
---
<section class="contact" id="contact">
  <h3 class="products-title" data-aos="fade-left">
    Contact us
  </h3>
  <div class="right-column">
    <div class="form-container">
      <ContactForm />
    </div>
  </div>
</section>
