<footer class="footer" data-aos="fade-up" data-aos-delay="400">
  <div class="footer-container">
    <div class="footer-info">
      <div class="footer-info__text">
        <a href="tel:++48513416750" class="footer-info__phone">
          +48 513 416 750
        </a>
        <a href="mailto:aukuris@inbox.lt" class="footer-info__email">
          aukuris@inbox.lt
        </a>
      </div>
      <div class="footer-icons">
        <a
          href="https://t.me/+48513416750/"
          target="_blank"
          rel="noreferrer"
          class="footer-icon"
        >
          <img src="/assets/telegram.svg" alt="telegram" />
        </a>
        <a
          href="https://wa.me/+48513416750"
          target="_blank"
          rel="noreferrer"
          class="footer-icon"
        >
          <img src="/assets/whatsapp.svg" alt="whatsapp" />
        </a>
      </div>
    </div>
    <div class="footer-copyright">Copyright Aukuris 2023 | All Rights Reserved</div>
  </div>
</footer>
