---
const base = import.meta.env.BASE_URL
---
<section class="main" id="main">
  <div class="left-column">
    <img src={`${base}assets/main-page.png`} class="figure" alt="figures" />
    <img
      src={`${base}assets/logo.svg`}
      class="logo"
      data-aos="fade-right"
      data-aos-delay="300"
      alt=""
    />
  </div>
  <div class="right-column fade-left">
    <div class="right-column__text">
      <p>
        We search and implement new lab technologies, equipment, and testing
        systems, relying on regional partners and distribution companies to
        collaborate on restructuring and equipping institutions and making
        healthcare accessible and affordable.
      </p>
    </div>
  </div>
</section>
