---
import { products } from '../data/products'
import ProductCard from './ProductCard.astro'
---
<section class="products" id="products">
  <h3 class="products-title">Everything you need for your laboratory</h3>
  <div class="products-wrapper">
    <div class="products-grid">
      {products.map((product) => (
        <ProductCard
          logo={product.logo}
          image={product.image}
          delay={product.delay}
        />
      ))}
    </div>
  </div>
</section>
